@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:ital@1&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:ital@1&display=swap');*/

body,
header,
main,
footer {
    margin: 0;
    padding: 0;
    /* min-width: 1430px; */
}

body {
    background: white;
    color: #333333;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: white;
    color: rgb(22, 22, 22);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    min-width: 1430px;
}

.container {
    margin: 0px 100px 0px 100px;
    max-width: 1430px;
}

header .container {
    display: flex;
}

.phone-number a,
.mail-adress a {
    text-decoration: none;
    color: rgb(22, 22, 22);
}

.logo-phone {
    margin: 13px 10px 10px 10px;
    height: 23px;
}

.logo-mail {
    margin: 16px 10px 10px 100px;
    height: 20px;
}

.button-about {
    margin: 0px 30px 0px 350px;
}

.button-contact,
.button-about {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: 0s;
    font-size: 16px;
    padding: 15px 15px;
    text-decoration: none;
    color: rgb(22, 22, 22);
    font-family: 'Montserrat', sans-serif;
    height: 20px;
    float: right;
}

.button-contact:hover,
.button-about:hover {
    background-color: #c1d6e9;
}

main {
    background-color: #e6ded6;
    color: #4d4d4d;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.content {
    background-color: white;
    height: 650px;
    margin-top: 0px;
    position: relative;
    overflow: hidden;
    min-width: 1430px;
}

.welcome {
    background-color: #f0edea;
    height: 650px;
    margin-top: 0px;
    overflow: hidden;
    width: 1355px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-stretch: ultra-expanded;
    text-align: center;
    margin: 0;
    padding-top: 65px;
}

h2 {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-stretch: ultra-expanded;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.main-pic {
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about {
    background-color: white;
    height: 770px;
    color: rgb(22, 22, 22);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    min-width: 1430px;
}

.circle {
    background-color: #c1d6e9;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    position: absolute;
    top: 90px;
    left: 275px;
}

h3 {
    font-size: 60px;
    color: #4d4d4d;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-stretch: ultra-expanded;
    position: absolute;
    top: 195px;
    left: 65px;
}

.about-info {
    font-size: 20px;
    width: 600px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 315px;
    left: 65px;
}

.woman-pic {
    width: 650px;
    border-radius: 50px;
    float: right;
    display: block;
    margin-right: 43px;
    margin-top: 180px;
}

.project {
    background-color: white;
    height: 450px;
    margin-top: 0px;
    position: relative;
    overflow: hidden;
    min-width: 1430px;
}

.back {
    background-color: #f0edea;
    height: 450px;
    overflow: hidden;
    width: 1355px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-size: 48px;
    color: #4d4d4d;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-stretch: ultra-expanded;
    text-align: center;
    margin: 0;
    padding-top: 70px;
}

h5 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-stretch: ultra-expanded;
    text-align: center;
    margin-top: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.push {
    text-decoration: none;
    color: rgb(22, 22, 22);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: 0s;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    height: 68px;
    width: 260px;
    margin: 40px 70px 0px 70px;
}

.b1 {
    background-color: #c1d6e9;
}

.b2 {
    background-color: white;
}

.b3 {
    background-color: #ccb8a5;
}

.b1:hover {
    background-color: #a3c5eb;
}

.b2:hover {
    background-color: #e5e5e5;
}

.b3:hover {
    background-color: #b69f80;
}

footer {
    background-color: white;
    font-size: 20px;
    height: 470px;
    color: #4d4d4d;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-width: 1430px;
}

h6 {
    font-size: 32px;
    padding: 105px 0px 30px 65px;
    margin: 0;
    font-stretch: ultra-expanded;
}

.street,
.mail,
.number {
    padding: 15px 0px 0px 65px;
    margin: 0;
    text-decoration: none;
    color: rgb(22, 22, 22);
}

.mail a,
.number a {
    text-decoration: none;
    color: rgb(22, 22, 22);
}

.number {
    display: flex;
}

.logo-phone2 {
    margin-right: 10px;
    height: 25px;
}

.links {
    display: flex;
    margin: 30px 0px 0px 65px;
}

.logo {
    height: 30px;
    padding-right: 30px;
}

.made-by {
    background-color: #333333;
    height: 40px;
    margin-top: 75px;
    position: relative;
}

.name-txt {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.feedback {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    float: right;
    position: absolute;
    top: 2015px;
    left: 975px;
}

input {
    margin: 10px auto;
    border: 0px solid #fff;
    border-bottom: 2px solid #4d4d4d;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 362px;
    background-color: transparent;
}

.b4 {
    background: #333333;
    border: none;
    color: #fff;
    width: 402px;
    font-weight: 600;
    transition: 0s;
}

.b4:hover {
    background-color: #4d4d4d;
}

textarea {
    display: inline-block;
    border: 0px;
    border-bottom: 2px solid #4d4d4d;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 362px;
    background-color: transparent;
}